# Configuración para ignorar archivos en el control de codigo fuente

# Agregar comentarios con hashtag y descripción del archivo o directorio a ignorar
# Para ignorar archivos en una ubicación especifica: nombre_del_archivo.txt si está en la raiz, /carpeta/nombre_del_archivo.txt y asi sucesivamente
# Para ignorar archivo en cualquier parte del proyecto **/nombre_del_archivo.txt


/writable/debugbar/
/writable/logs/
